fastapi
uvicorn
sqlalchemy
bcrypt==4.0.1
PyJWT
google-auth
google-auth-oauthlib
google-api-python-client
google-generativeai
python-dotenv
passlib[bcrypt]==1.7.4
python-jose[cryptography]
psycopg2-binary==2.9.10
email-validator